
@{
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>
            @ViewBag.Greeting World (from the view)
            <p>We're going to have an exciting party. <br />
            (To do: Sell it better. Add pictures or something.)</p>
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
        </body>
    </html>

